<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web Homework 8</title>

    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="hw8.css" rel="stylesheet">
    <script src="moment.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>-->
    <!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>-->
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css"></script>-->

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            display: table;
            font-family: ariel;
            width: 100%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: Helvetica, sans-serif;
        }
        
        .container {
            display: table-cell;
            text-align: center;
        }
        
        #searchText {
            padding-left: 0;
            padding-right: 0;
            display: inline;
        }
        
        #searchFB {
            background-color: aliceblue;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .nav-tabs > li >a:focus,
        .nav-tabs > li.active > a {
            background-color: #3b5998;
            color: white;
        }
        
        .nav-tabs>li>a {
            border-radius: 0 0 0 0;
        }
        
        .active {
            background-color: #3b5998;
            color: white;
        }
        
        #previous,
        #next {
            display: none;
        }
        
        .animate-hide {
            -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
            -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
            -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
            transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
            line-height: 20px;
            opacity: 1;
            padding: 10px;
            border: 1px solid black;
            background: white;
            position: absolute;
            left: 0;
        }
        
        .animate-hide1.ng-hide {
            left: -100%;
            opacity: 0;
            padding: 0 10px;
        }
        
        .animate-hide2.ng-hide {
            left: -100%;
            opacity: 0;
            padding: 0 10px;
        }
        
        a {
            color: black;
            text-decoration: none;
        }
    </style>
    <script>
        window.offset = 0;
        window.stype = "user";
        window.detailsID;
        window.detailsPhoto;
        window.detailsName;
        window.detailsLink;

        function postAndGet($scope, stype, $http) {
            if (!$scope.searchKeyword) {
                $('#progressBar').hide();
                return;
            }
            $http.post('HW8.php',
                $.param({
                    "searchQuery": $scope.searchKeyword,
                    "stype": stype,
                    "offset": window.offset
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                }
            ).then(function (response) {
                    var viewData = {
                        data: []
                    }
                    var array = {}
                    if (response['data'] && response['data']['data']) {
                        dataRes = response['data']['data'];
                        for (var j = 0; j < dataRes.length; j++) {

                            var i = 0,
                                flag = 0,
                                sKey;
                            for (; sKey = window.localStorage.key(i); i++) {
                                if (sKey == dataRes[j]['id']) {
                                    flag = 1;
                                }
                            }
                            array = {
                                "number1": j + 1,
                                "photo1": dataRes[j]['picture']['data']['url'],
                                "name1": dataRes[j]['name'],
                                "id": dataRes[j]['id'],
                                "link": dataRes[j]['link'],
                                "fav": flag,
                                "favId": window.stype + dataRes[j]['id']
                            }
                            viewData.data.push(array);
                        }
                    }
                    if (response['data'] && response['data']['paging']) {
                        pagingRes = response['data']['paging'];
                        if (pagingRes['next']) {
                            $('#next').show();
                        } else {
                            $('#next').hide();
                        }
                        if (pagingRes['previous']) {
                            $('#previous').show();
                        } else {
                            $('#previous').hide();
                        }
                    }

                    console.log(viewData.data);
                    $scope.names = viewData.data;
                    $('#progressBar').hide();
                    $('#dataTable').show();
                },
                function errorCallback(response) {
                    alert("Failure");
                });
        }

        var app = angular.module('myApp', ["ngAnimate"]);
        app.controller('formCtrl', function ($scope, $http) {

            $('#dataTable').hide();
            $('#dataTableFav').hide();
            $('#progressBar').hide();
            $('#favouriteType').hide();
            $scope.myValue = true;

            window.fbAsyncInit = function () {
                FB.init({
                    appId: '509778816077645',
                    xfbml: true,
                    version: 'v2.8'
                });
                FB.AppEvents.logPageView();
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {
                    return;
                }
                js = d.createElement(s);
                js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));

            $scope.fbsearch = function () {
                $('#progressBar').show();
                window.offset = 0;
                window.stype = "user";
                $('#favouriteType').hide();
                $('#nonFavouriteType').show();
                $('#dataTable').hide();
                $('#dataTableFav').hide();
                $('#overallTable').show();

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Users").className = "nav-link active";

                postAndGet($scope, "User", $http);

            };

            $scope.fbnext = function () {
                window.offset += 25;
                postAndGet($scope, window.stype, $http);
            };

            $scope.fbprev = function () {
                if (window.offset - 25 < 0) {
                    window.offset = 0;
                } else {
                    window.offset -= 25;
                }
                postAndGet($scope, window.stype, $http);
            };

            $scope.fbreset = function () {
                window.offset = 0;
                window.stype = "user";
                $('#searchText').nodeValue = "";
                $scope.searchKeyword = "";
                $scope.names = {};
                $('#dataTable').hide();
                $('#dataTableFav').hide();
                $('#previous').hide();
                $('#next').hide();
                $('#next-prev-btn').show();
                $('#favouriteType').show();
                $('#nonFavouriteType').hide();
                $('#overallTable').show();
                $('#detailsPage').hide();
                //                $('#detailsPage').hide();
                $scope.myValue = true;
                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Users").className = "nav-link active";
            }

            $scope.checkFavourite = function (favId, id, name, url, link) {
                var i = 0,
                    flag = 0,
                    sKey;
                for (; sKey = window.localStorage.key(i); i++) {
                    if (sKey == id) {
                        window.localStorage.removeItem(id);
                        document.getElementById(favId).className = "glyphicon glyphicon-star-empty";
                        document.getElementById(favId).style.color = "black"
                        flag = 1;
                    }
                }
                if (flag == 0) {
                    var myObj = {
                        name: name,
                        picture: url,
                        stype: window.stype,
                        link: link
                    }
                    document.getElementById(favId).className = "glyphicon glyphicon-star";
                    document.getElementById(favId).style.color = "yellow"
                    window.localStorage.setItem(id, JSON.stringify(myObj));
                }
            }

            $scope.checkDetailsFav = function () {
                var i = 0,
                    flag = 0,
                    sKey;
                for (; sKey = window.localStorage.key(i); i++) {
                    if (sKey == window.detailsID) {
                        window.localStorage.removeItem(window.detailsID);
                        document.getElementById("detailsFav").className = "glyphicon glyphicon-star-empty";
                        document.getElementById("detailsFav").style.color = "black"
                        flag = 1;
                    }
                }
                if (flag == 0) {
                    var myObj = {
                        name: window.detailsName,
                        picture: window.detailsPhoto,
                        stype: window.stype,
                        link: window.detailsLink
                    }
                    document.getElementById("detailsFav").className = "glyphicon glyphicon-star";
                    document.getElementById("detailsFav").style.color = "yellow"
                    window.localStorage.setItem(window.detailsID, JSON.stringify(myObj));
                }
            }

            $scope.checkFavLoad = function (favId, id) {
                if (favId) {
                    var i = 0,
                        sKey;
                    for (; sKey = window.localStorage.key(i); i++) {
                        if (sKey == id) {
                            document.getElementById(favId).style.color = "yellow"
                            return "glyphicon glyphicon-star";
                        }
                    }
                    document.getElementById(favId).style.color = "black"
                    return "glyphicon glyphicon-star-empty";
                }
                return "glyphicon glyphicon-star-empty";
            }

            $scope.albumsPanel = function (id) {
                if (id == "collapse1") {
                    return "panel-collapse collapse in";
                }
                return "panel-collapse collapse";
            }


            $scope.checkDetailsFavLoad = function () {
                var i = 0,
                    sKey;
                for (; sKey = window.localStorage.key(i); i++) {
                    if (sKey == window.detailsID) {
                        document.getElementById("detailsFav").style.color = "yellow"
                        return "glyphicon glyphicon-star";
                    }
                }
                document.getElementById("detailsFav").style.color = "black"
                return "glyphicon glyphicon-star-empty";
            }

            $scope.deleteFavourite = function (id) {
                window.localStorage.removeItem(id);
                for (var j = 0; j < $scope.names.length; j++) {
                    if (id == $scope.names[j]['id']) {
                        $scope.names.splice(j, 1);
                    }
                }
            }

            $scope.checkDetails = function (id, link) {
                $('#overallTable').hide();
                $('#detailsPage').show();
                $('#PostData').hide();
                $('#noPostData').hide();
                $('#noAlbumData').hide();
                $('#AlbumData').hide();
                $('#albumProgressBar').show();
                $('#postProgressBar').show();
                $scope.myValue = false;
                $scope.fbLink = link;
                $http.post('HW8.php',
                    $.param({
                        "id": id
                    }), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                    }
                ).then(function (response) {
                        console.log(JSON.stringify(response));

                        var viewData = {
                            album: [],
                            post: []
                        }
                        var array = {}
                        $('#albumProgressBar').hide();
                        $('#postProgressBar').hide();
                        window.detailsID = id;
                        if (response['data']['picture'] && response['data']['picture']['data'] && response['data']['picture']['data']['url']) {
                            window.detailsPhoto = response['data']['picture']['data']['url'];
                        }
                        window.detailsName = response['data']['name'];
                        window.detailsLink = link;
                        if (response['data'] && response['data']['posts'] && response['data']['posts']['data']) {
                            dataRes = response['data']['posts']['data'];

                            for (var j = 0; j < dataRes.length; j++) {
                                var dateTime = moment(dataRes[j]['created_time']).format("YYYY-MM-DD HH:mm:ss");
                                array = {
                                    "image": response['data']['picture']['data']['url'],
                                    "name": response['data']['name'],
                                    "time": dateTime,
                                    "post": dataRes[j]['message']
                                }
                                viewData.post.push(array);
                            }
                            $('#PostData').show();
                            $('#noPostData').hide();
                        } else {
                            $('#noPostData').show();
                            $('#PostData').hide();
                        }
                        $scope.postDetails = viewData.post;
                        if (response['data'] && response['data']['albums'] && response['data']['albums']['data']) {
                            dataRes = response['data']['albums']['data'];
                            for (var j = 0; j < dataRes.length; j++) {
                                if (dataRes[j]['photos'] && dataRes[j]['photos']['data'].length > 0) {
                                    img1 = dataRes[j]['photos']['data'][0]['images'][0]['source'];
                                } else {
                                    img1 = "";
                                }
                                if (dataRes[j]['photos'] && dataRes[j]['photos']['data'].length > 1) {
                                    img2 = dataRes[j]['photos']['data'][1]['images'][0]['source'];
                                } else {
                                    img2 = "";
                                }
                                array = {
                                    "albumName": dataRes[j]['name'],
                                    "imgSrc1": img1,
                                    "imgSrc2": img2,
                                    "id": "collapse" + (j + 1),
                                    "href": "#collapse" + (j + 1)
                                }
                                viewData.album.push(array);
                            }
                            $('#AlbumData').show();
                            $('#noAlbumData').hide();
                        } else {
                            $('#noAlbumData').show();
                            $('#AlbumData').hide();
                        }
                        $scope.albumDetails = viewData.album;

                    },
                    function errorCallback(response) {
                        console.log("Failure");
                    });
            }

            $scope.userSelect = function () {
                window.offset = 0;
                $scope.myValue = true;
                window.stype = "user";
                $('#favouriteType').hide();
                $('#nonFavouriteType').show();
                $('#next-prev-btn').show();
                $('#overallTable').show();
                $('#detailsPage').hide();

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Users").className = "nav-link active";

                postAndGet($scope, window.stype, $http);
            }
            $scope.pageSelect = function () {
                window.offset = 0;
                $scope.myValue = true;
                window.stype = "page";
                $('#favouriteType').hide();
                $('#nonFavouriteType').show();
                $('#next-prev-btn').show();
                $('#overallTable').show();
                $('#detailsPage').hide();

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Pages").className = "nav-link active";

                postAndGet($scope, window.stype, $http);
            }
            $scope.eventSelect = function () {
                window.offset = 0;
                $scope.myValue = true;
                window.stype = "event";
                $('#favouriteType').hide();
                $('#nonFavouriteType').show();
                $('#next-prev-btn').show();
                $('#overallTable').show();
                $('#detailsPage').hide();

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Events").className = "nav-link active";

                postAndGet($scope, window.stype, $http);
            }
            $scope.groupSelect = function () {
                window.offset = 0;
                $scope.myValue = true;
                window.stype = "group";
                $('#favouriteType').hide();
                $('#nonFavouriteType').show();
                $('#next-prev-btn').show();
                $('#overallTable').show();
                $('#detailsPage').hide();

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Groups").className = "nav-link active";

                postAndGet($scope, window.stype, $http);
            }
            $scope.favouriteSelect = function () {
                window.offset = 0;
                $scope.myValue = true;
                window.stype = "favourite";
                $('#favouriteType').show();
                $('#nonFavouriteType').hide();
                $('#dataTableFav').show();
                $('#next-prev-btn').show();
                $('#overallTable').show();
                $('#detailsPage').hide();
                var viewData = {
                    data: []
                }

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Favourites").className = "nav-link active";

                var i = 0,
                    oJson = {},
                    sKey;
                for (; sKey = window.localStorage.key(i); i++) {
                    oJson = window.localStorage.getItem(sKey);
                    array = {
                        "number1": i + 1,
                        "photo1": JSON.parse(oJson).picture,
                        "name1": JSON.parse(oJson).name,
                        "stype": JSON.parse(oJson).stype,
                        "id": sKey,
                        "link": JSON.parse(oJson).link
                    }
                    viewData.data.push(array);
                }
                $('#previous').hide();
                $('#next').hide();
                $scope.names = viewData.data;
            }

            $scope.clickBack = function () {
                $scope.myValue = true;
                //                $('#dataTable').show();
                //                $('#dataTableFav').show();
                //                $('#next-prev-btn').show();
                $scope.albumDetails = {}
                $scope.postDetails = {}
                $('#detailsPage').hide();
                $('#noAlbumData').hide();
                $('#AlbumData').hide();
                $('#noPostData').hide();
                $('#PostData').hide();
                $('#overallTable').show();
                $('#albumProgressBar').show();
                $('#postProgressBar').show();
                if (window.stype == "favourite") {
                    var viewData = {
                        data: []
                    }
                    var i = 0,
                        oJson = {},
                        sKey;
                    for (; sKey = window.localStorage.key(i); i++) {
                        oJson = window.localStorage.getItem(sKey);
                        array = {
                            "number1": i + 1,
                            "photo1": JSON.parse(oJson).picture,
                            "name1": JSON.parse(oJson).name,
                            "stype": JSON.parse(oJson).stype,
                            "id": sKey,
                            "link": JSON.parse(oJson).link
                        }
                        viewData.data.push(array);
                    }
                    $scope.names = viewData.data;
                }
            }

            $scope.albumClick = function (id) {
                $('#' + id).toggle();
                for (var i = 1; i < 6; i++) {
                    if (i != id) {
                        $('#' + i).hide();
                    }
                }
            }
            $scope.facebookPost = function () {
                FB.ui({
                    method: 'share',
                    display: 'popup',
                    href: $scope.fbLink,
                }, function (response) {
                    if (response) {
                        alert('Posted Successfully');
                    } else {
                        alert('Not Posted')
                    }
                });

            }



        });
        //            $(document).ready(function () { // $("#submitq").click(function () { // $.ajax({ // type: "POST", // url: "HW8.php", // data: { // searchQuery: "Prashant", // stype: "User" // }, // success: function (data) { // console.log(data); // alert(data); // }, // error: function (data) { // console.log(data); // alert("failure"); // } // }); // }); // });
    </script>

    <!--   Getting current location   -->
    <script>
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };
        navigator.geolocation.getCurrentPosition(success, error, options);

        function success(pos) {
            var crd = pos.coords;

            document.getElementsByClassName("output")[0].innerHTML += crd.latitude + " ";
            document.getElementsByClassName("output")[0].innerHTML += crd.longitude + " ";
            document.getElementsByClassName("output")[0].innerHTML += crd.accuracy;
            console.log('Your current position is:');
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy} meters.`);
        };

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        };
    </script>
</head>

<body>

    <div class="container" style="width: 100%">
        <div ng-app="myApp" ng-controller="formCtrl">
            <form class="form-signin responsive" id="searchFB">
                <div class="row">
                    <div class="col-md-3" style="padding-left: 50px; padding-right: 0; padding-top: 5px; text-align: initial;">
                        <h2 class="form-search-heading" style="display: inline; font-size: 20px; color: #3b5998">FB Search</h2>
                    </div>
                    <div class="col-md-6" style="padding-right: 0px">
                        <input type="text" id="searchText" class="form-control" placeholder="type something..." required autofocus style="padding-right: 0px; padding-left: 10px" ng-model="searchKeyword">
                        <span><button class="btn btn-primary" type="submit" style="width: 80px; padding-left: 0px;background-color: #3b5998" ng-click="fbsearch()" id="submitq"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                        </span>
                        <span><button class="btn btn-default" type="reset" style="margin-left: 10px; width: 80px;" ng-click="fbreset()">Clear</button></span>
                    </div>
                </div>
            </form>

            <ul class="nav nav-tabs" id="myTabs" style="width: 100%; padding-left: 0; padding-right: 0; border-bottom: 2px solid #3b5998;">
                <!--<li class="active Users" id="Users" style="width: 20%"><a href="#" ng-click="userSelect()">Users</a></li>
                <li class="Pages" id="Pages" style="width: 20%"><a href="#" ng-click="pageSelect()">Pages</a></li>
                <li class="Events" id="Events" style="width: 20%"><a href="#" ng-click="eventSelect()">Events</a></li>
                <li class="Groups" id="Groups" style="width: 20%"><a href="#" ng-click="groupSelect()">Groups</a></li>
                <li class="Favorites" id="Favorites" style="width: 20%"><a href="#" ng-click="favoriteSelect()">Favorites</a></li>-->

                <li class="nav-item" style="width: 20%">
                    <a class="nav-link active" id="Users" ng-click="userSelect()">Users</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Pages" ng-click="pageSelect()">Pages</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Events" ng-click="eventSelect()">Events</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Groups" ng-click="groupSelect()">Groups</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Favourites" ng-click="favouriteSelect()">Favourites</a>
                </li>
            </ul>

            <div class="progress" id="progressBar" style="margin-top: 200px">
                <p class="progress-bar progress-bar-striped active " role="progressbar " aria-valuenow="50" aria-valuemin="0 " aria-valuemax="100 " style="width:50%">
                </p>
            </div>
            <div id="overallTable" class='animate-hide animate-hide2' ng-hide="!myValue" style="display: inline-block; width: 100%; border: none">
                <div class="table-responsive" id="nonFavouriteType" style="display: inline-block; align-content: center; text-align: center; width: 100%; padding-top: 10px;">
                    <table id="dataTable" class="table table-hover" style="margin-top: 10px; width: 98%; text-align: initial; display: inline-table;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Profile Photo</th>
                                <th>Name</th>
                                <th>Favourite</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="x in names">
                            <td>{{ x.number1 }}</td>
                            <td><img ng-src="{{x.photo1}}" width="50px" height="50px" style="border-radius: 100%"></td>
                            <td>{{ x.name1 }}</td>
                            <td><a ng-click="checkFavourite(x.favId, x.id, x.name1, x.photo1, x.link)" style="color: black; border: 1px solid; padding: 5px;"><span id={{x.favId}} ng-class="checkFavLoad(x.favId, x.id)"></span></a></td>
                            <td>
                                <a ng-click="checkDetails(x.id, x.link)" style="color: black; border: 1px solid; padding: 5px; cursor: pointer"><span class=' glyphicon glyphicon-chevron-right '></span></a>
                            </td>
                        </tr>


                    </table>
                </div>

                <div class="table-responsive" id="favouriteType" style="display: inline-block; align-content: center; text-align: center; width: 100%; padding-top: 10px;">
                    <table id="dataTableFav" class="table table-hover" style="margin-top: 10px; width: 98%; text-align: initial; display: inline-table;">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Profile Photo</th>
                                <th>Name</th>
                                <th id="tableTypeTH">Type</th>
                                <th>Favourite</th>
                                <th>Details</th>
                            </tr>
                        </thead>

                        <tr ng-repeat="x in names">
                            <td>{{ x.number1 }}</td>
                            <!--<td><img ng-src="{{x.photo1}}" width="50px" height="50px"></td>-->
                            <td><img ng-src="{{x.photo1}}" width="50px" height="50px" style="border-radius: 100%"></td>
                            <td>{{ x.name1 }}</td>
                            <td id="tableTypeTD">{{ x.stype }}</td>
                            <td><a ng-click="deleteFavourite(x.id)" style="color: black; border: 1px solid; padding: 5px;"><span class="glyphicon glyphicon-trash"></span></a></td>
                            <td>
                                <a ng-click="checkDetails(x.id, x.link)" style="color: black; border: 1px solid; padding: 5px; cursor: pointer"><span class=' glyphicon glyphicon-chevron-right ' ></span></a>
                            </td>
                        </tr>


                    </table>
                </div>
                <div id="next-prev-btn">
                    <button class="btn btn-default" id="previous" type="button" style="margin-left: 10px; width: 80px;" ng-click="fbprev()">Previous</button>
                    <button class="btn btn-default" type="button" id="next" style="margin-left: 10px; width: 80px;" ng-click="fbnext()">Next</button>
                </div>
            </div>




            <div id="detailsPage" class='animate-hide animate-hide1' style="width: 100%; padding-top: 10px; border: none" ng-hide="myValue">
                <div style="display: block">
                    <div style="float: left"><a ng-click="clickBack()" style="border:"><span style="font-weight: bold"> <span class="glyphicon glyphicon-chevron-left"></span> Back</span></a></div>
                    <div style="float: right" ng-model="fbLink">
                        <a style="padding-right: 30px"><span id="detailsFav" ng-click="checkDetailsFav()" ng-class="checkDetailsFavLoad()"></span></a>
                        <a style="padding-right: 20px"><img src="facebook.png" width="20px" height="20px" ng-click="facebookPost()"></a>
                    </div>
                </div>
                <br>
                <br>
                <!--                Details Page-->
                <div class="row" style="text-align: Left">
                    <div class="col-md-6">
                        <div class="well-sm " style="background-color: lightgrey; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px;">Albums</div>
                        <div class="panel-group well-sm" id="accordion" style="border: 1px solid;border-top-right-radius: 0px;border-top-left-radius: 0px;">
                            <div class="progress" id="albumProgressBar" style="margin-top: 20px">
                                <p class="progress-bar progress-bar-striped active " role="progressbar " aria-valuenow="50" aria-valuemin="0 " aria-valuemax="100 " style="width:50%">
                                </p>
                            </div>

                            <div id="noAlbumData">
                                <div class="well-sm" style="background-color: #faebcd ">
                                    <p>No data posted</p>
                                </div>
                            </div>
                            <div id="AlbumData" class="panel panel-default" ng-repeat="x in albumDetails">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href={{x.href}}>{{x.albumName}}</a>
                                    </h4>
                                </div>
                                <div id={{x.id}} ng-class="albumsPanel(x.id)">
                                    <div class="panel-body">
                                        <div class="well-sm row">
                                            <div class="col-sm-12">
                                                <img ng-src="{{ x.imgSrc1 }}" style='width:100%; max-width:auto; height:auto;'>
                                            </div>
                                        </div>
                                        <div class="well-sm row">
                                            <div class="col-sm-12">
                                                <img ng-src="{{ x.imgSrc2 }}" style='width:100%; max-width:auto; height:auto;'>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="well-sm " style="background-color: lightgrey; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; ">Posts</div>
                        <div id="postProgressBar" class="well-sm" style="border: 1px solid">
                            <div class="progress" style="margin-top: 20px">
                                <p class="progress-bar progress-bar-striped active well-sm" role="progressbar " aria-valuenow="50" aria-valuemin="0 " aria-valuemax="100 " style="width:50%">
                                </p>
                            </div>
                        </div>

                        <div id="noPostData" class="well-sm" style="border: 1px solid;">
                            <div class="well-sm" style="background-color: #faebcd">
                                <p> No data posted </p>
                            </div>
                        </div>

                        <div id="PostData" class="well-sm" style="border: 1px solid;border-top-right-radius: 0px; border-top-left-radius: 0px;" ng-repeat="x in postDetails">
                            <div class="well-sm table-responsive">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img ng-src="{{ x.image }}" width="30px" height="30px"></td>
                                        <td>
                                            <p style="padding-left: 10px; margin-bottom: 0px; font-size: smaller; font-weight: bold;">{{ x.name }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="padding-left: 10px; margin-bottom: 0px; font-size: x-small; color: lightslategrey;">{{ x.time }}</p>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <p>{{ x.post }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- formCtrl -->
    <!-- /container -->
</body>

</html>