<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="hw8.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <style>
        html,
        body {
            margin: 0;
            padding: 0;
            display: table;
            font-family: ariel;
            width: 95%;
            height: 100%;
            margin-left: auto;
            margin-right: auto;
            font-family: Helvetica, sans-serif;
        }
        
        .container {
            display: table-cell;
            text-align: center;
        }
        
        #searchText {
            padding-left: 0;
            padding-right: 0;
            display: inline;
        }
        
        #searchFB {
            background-color: aliceblue;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        .nav-tabs > li >a:focus,
        .nav-tabs > li > a:hover,
        .nav-tabs > li.active > a {
            background-color: dodgerblue;
            color: white;
        }
        /*EDITTED BY ADITYA*/
        
        .active {
            background-color: dodgerblue;
            color: white;
        }
        /*EDITTED BY ADITYA*/
        
        #previous,
        #next {
            display: none;
        }
    </style>
    <script>
        window.offset = 0;
        window.stype = "user";
        var viewData = {
            users: [],
            pages: [],
            events: [],
            groups: []
        }

        function postAndGet($scope, stype, $http) {
            $scope.names = {};
            $http.post('hw8.php',
                $.param({
                    "searchQuery": $scope.searchKeyword,
                    "stype": stype,
                    "offset": window.offset
                }), {
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded'
                    },
                }
            ).then(function (response) {
                    var viewData = {
                        employees: [],
                        pages: [],
                        events: [],
                        groups: []
                    }
                    var array = {}
                    if (response['data'] && response['data']['data']) {
                        dataRes = response['data']['data'];
                        for (var j = 0; j < dataRes.length; j++) {
                            array = {
                                "number1": window.offset + j + 1,
                                "photo1": dataRes[j]['picture']['data']['url'],
                                "name1": dataRes[j]['name'],
                                "id": dataRes[j]['id']
                            }
                            viewData.employees.push(array);
                        }
                    }
                    if (response['data'] && response['data']['paging']) {
                        pagingRes = response['data']['paging'];
                        if (pagingRes['next']) {
                            $('#next').show();
                        } else {
                            $('#next').hide();
                        }
                        if (pagingRes['previous']) {
                            $('#previous').show();
                        } else {
                            $('#previous').hide();
                        }
                    }

                    console.log(viewData.employees);
                    $scope.names = viewData.employees;
                    $('#progressBar').hide();
                    $('#dataTable').show();
                },
                function errorCallback(response) {
                    alert("Failure");
                });
        }

        var app = angular.module('myApp', []);
        app.controller('formCtrl', function ($scope, $http) {

            $('#dataTable').hide();
            $('#progressBar').hide();
            $scope.fbsearch = function () {
                $('#progressBar').show();
                window.offset = 0;
                window.stype = "user";
                postAndGet($scope, "User", $http);

            };

            $scope.fbnext = function () {
                window.offset += 25;
                postAndGet($scope, window.stype, $http);
            };

            $scope.fbprev = function () {
                if (window.offset - 25 < 0) {
                    window.offset = 0;
                } else {
                    window.offset -= 25;
                }
                postAndGet($scope, window.stype, $http);
            };

            $scope.fbreset = function () {
                window.offset = 0;
                window.stype = "user";
                $('#searchText').nodeValue = "";
                $scope.names = {};
                $('#dataTable').hide();
                $('#previous').hide();
                $('#next').hide();
            }

            $scope.checkDetails = function (id) {
                $http.post('hw8.php',
                    $.param({
                        "id": id
                    }), {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        },
                    }
                ).then(function (response) {
                        $('#dataTable').hide();
                        $('#previous').hide();
                        $('#next').hide();
                        console.log(JSON.stringify(response));
                        $('#detailsPage').show();
                        var viewData = {
                            employees: []
                        }
                        var array = {}
                        if (response['data'] && response['data']['posts'] && response['data']['posts']['data']) {
                            dataRes = response['data']['posts']['data'];
                            for (var j = 0; j < dataRes.length; j++) {
                                array = {
                                    "image": response['data']['picture']['data']['url'],
                                    "name": response['data']['name'],
                                    "time": dataRes[j]['created_time'],
                                    "post": dataRes[j]['message']
                                }
                                viewData.employees.push(array);
                            }
                            $('#PostData').show();
                            $('#noPostData').hide();
                        } else {
                            $('#noPostData').show();
                            $('#PostData').hide();
                        }
                        $scope.postDetails = viewData.employees;
                        var viewData = {
                            employees: []
                        }
                        if (response['data'] && response['data']['albums'] && response['data']['albums']['data']) {
                            dataRes = response['data']['albums']['data'];
                            for (var j = 0; j < dataRes.length; j++) {
                                if (dataRes[j]['photos']['data'].length > 0) {
                                    img1 = dataRes[j]['photos']['data'][0]['images'][0]['source'];
                                } else {
                                    img1 = "";
                                }
                                if (dataRes[j]['photos']['data'].length > 1) {
                                    img2 = dataRes[j]['photos']['data'][1]['images'][0]['source'];
                                } else {
                                    img2 = "";
                                }
                                array = {
                                    "albumName": dataRes[j]['name'],
                                    "imgSrc1": img1,
                                    "imgSrc2": img2,
                                    "id": j + 1
                                }
                                viewData.employees.push(array);
                            }
                            $('#AlbumData').show();
                            $('#noAlbumData').hide();
                        } else {
                            $('#noAlbumData').show();
                            $('#AlbumData').hide();
                        }
                        $scope.albumDetails = viewData.employees;

                    },
                    function errorCallback(response) {
                        console.log("Failure");
                    });
            }

            $scope.userSelect = function () {
                window.offset = 0;
                window.stype = "user";
                /*EDITTED BY ADITYA*/

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Users").className = "nav-link active";

                /*EDITTED BY ADITYA*/
                postAndGet($scope, window.stype, $http);
            }
            $scope.pageSelect = function () {
                window.offset = 0;
                window.stype = "page";
                /*EDITTED BY ADITYA*/

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Pages").className = "nav-link active";

                /*EDITTED BY ADITYA*/
                postAndGet($scope, window.stype, $http);
            }
            $scope.eventSelect = function () {
                window.offset = 0;
                window.stype = "event";
                /*EDITTED BY ADITYA*/

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Events").className = "nav-link active";

                /*EDITTED BY ADITYA*/
                postAndGet($scope, window.stype, $http);
            }
            $scope.groupSelect = function () {
                window.offset = 0;
                window.stype = "group";
                /*EDITTED BY ADITYA*/

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Groups").className = "nav-link active";

                /*EDITTED BY ADITYA*/
                postAndGet($scope, window.stype, $http);
            }
            $scope.favoriteSelect = function () {
                //window.offset = 0;
                //                postAndGet($scope, "User", $http);

                /*EDITTED BY ADITYA*/

                var activeElement = document.getElementsByClassName("active")[0];
                activeElement.className = "nav-link";
                document.getElementById("Favourites").className = "nav-link active";

                /*EDITTED BY ADITYA*/

            }

            $scope.clickBack = function () {
                $('#dataTable').show();
                $('#previous').show();
                $('#next').show();
                $scope.albumDetails = {}
                $scope.postDetails = {}
                $('#detailsPage').hide();
                $('#noAlbumData').hide();
                $('#AlbumData').hide();
                $('#noPostData').hide();
                $('#PostData').hide();
            }

            $scope.albumClick = function (id) {
                $('#' + id).toggle();
                for (var i = 1; i < 6; i++) {
                    if (i != id) {
                        $('#' + i).hide();
                    }
                }
            }


        });
        //            $(document).ready(function () { // $("#submitq").click(function () { // $.ajax({ // type: "POST", // url: "HW8.php", // data: { // searchQuery: "Prashant", // stype: "User" // }, // success: function (data) { // console.log(data); // alert(data); // }, // error: function (data) { // console.log(data); // alert("failure"); // } // }); // }); // });
    </script>

    <!--   Getting current location   -->
    <script>
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            var crd = pos.coords;

            document.getElementsByClassName("output")[0].innerHTML += crd.latitude + " ";
            document.getElementsByClassName("output")[0].innerHTML += crd.longitude + " ";
            document.getElementsByClassName("output")[0].innerHTML += crd.accuracy;
            console.log('Your current position is:');
            console.log(`Latitude : ${crd.latitude}`);
            console.log(`Longitude: ${crd.longitude}`);
            console.log(`More or less ${crd.accuracy} meters.`);
        };

        function error(err) {
            console.warn(`ERROR(${err.code}): ${err.message}`);
        };

        navigator.geolocation.getCurrentPosition(success, error, options);
    </script>
</head>

<body>

    <div class="container">
        <div ng-app="myApp" ng-controller="formCtrl">
            <form class="form-signin" id="searchFB">
                <div class="row">
                    <div class="col-md-3" style="padding-left: 50px; padding-right: 0; padding-top: 5px; text-align: initial;">
                        <h2 class="form-search-heading" style="display: inline; font-size: 20px; color: dodgerblue">FB Search</h2>
                    </div>
                    <div class="col-md-4" style="padding-right: 0px">
                        <input type="text" id="searchText" class="form-control" placeholder="type something..." required autofocus style="padding-right: 0px; padding-left: 10px" ng-model="searchKeyword">
                    </div>
                    <div class="col-md-1" style="padding-left: 0px">
                        <button class="btn btn-primary" type="submit" style="width: 80px; padding-left: 0px" ng-click="fbsearch()" id="submitq"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                    </div>

                    <div class="col-md-1">
                        <button class="btn btn-default" type="reset" style="margin-left: 10px; width: 80px;" ng-click="fbreset()">Clear</button>
                    </div>
                </div>
            </form>

            <ul class="nav nav-tabs" id="myTabs" style="width: 100%; padding-left: 0; padding-right: 0; border-bottom: 2px solid blue;">
                <!--<li class="active Users" id="Users" style="width: 20%"><a href="#" ng-click="userSelect()">Users</a></li>
                <li class="Pages" id="Pages" style="width: 20%"><a href="#" ng-click="pageSelect()">Pages</a></li>
                <li class="Events" id="Events" style="width: 20%"><a href="#" ng-click="eventSelect()">Events</a></li>
                <li class="Groups" id="Groups" style="width: 20%"><a href="#" ng-click="groupSelect()">Groups</a></li>
                <li class="Favorites" id="Favorites" style="width: 20%"><a href="#" ng-click="favoriteSelect()">Favorites</a></li>-->

                <!--EDITTED BY ADITYA-->
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link active" id="Users" href="#" ng-click="userSelect()">Users</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Pages" href="#" ng-click="pageSelect()">Pages</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Events" href="#" ng-click="eventSelect()">Events</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Groups" href="#" ng-click="groupSelect()">Groups</a>
                </li>
                <li class="nav-item" style="width: 20%">
                    <a class="nav-link" id="Favourites" href="#" ng-click="favoriteSelect()">Favourites</a>
                </li>
                <!--EDITTED BY ADITYA-->
            </ul>

            <div class="progress" id="progressBar" style="margin-top: 200px">
                <p class="progress-bar progress-bar-striped active " role="progressbar " aria-valuenow="50" aria-valuemin="0 " aria-valuemax="100 " style="width:50%">
                </p>
            </div>

            <div class="table-responsive" style="display: inline-block; align-content: center; text-align: center; width: 100%; padding-top: 10px;">
                <table id="dataTable" class="table table-hover" style="margin-top: 10px; width: 98%; text-align: initial; display: inline-table;">
                    <thead>
                        <tr>
                            <th style="width: 10%">#</th>
                            <th style="width: 20%">Profile Photo</th>
                            <th style="width: 40%">Name</th>
                            <th style="width: 15%">Favorite</th>
                            <th style="width: 15%">Details</th>
                        </tr>
                    </thead>

                    <tr ng-repeat="x in names">
                        <td>{{ x.number1 }}</td>
                        <!--<td><img ng-src="{{x.photo1}}" width="50px" height="50px"></td>-->

                        <!--EDITTED BY ADITYA-->
                        <td><img ng-src="{{x.photo1}}" width="50px" height="50px" style="border-radius: 100%"></td>
                        <!--EDITTED BY ADITYA-->
                        <td>{{ x.name1 }}</td>
                        <td><a href="#" style="color: black; border: 1px solid; padding: 5px;"><span class="glyphicon glyphicon-star-empty"></span></a></td>
                        <td>
                            <a ng-click="checkDetails(x.id)" style="color: black; border: 1px solid; padding: 5px; cursor: pointer"><span class=' glyphicon glyphicon-chevron-right '></span></a>
                        </td>
                    </tr>


                </table>
            </div>

            <button class="btn btn-default" id="previous" type="button" style="margin-left: 10px; width: 80px;" ng-click="fbprev()">Previous</button>
            <button class="btn btn-default" type="button" id="next" style="margin-left: 10px; width: 80px;" ng-click="fbnext()">Next</button>

            <div id="detailsPage" style="display: none; width: 100%; padding-top: 10px;">
                <div style="display: block">
                    <div style="float: left"><a ng-click="clickBack()"><span style="font-weight: bold"> <span class="glyphicon glyphicon-chevron-left"></span> Back</span></a></div>
                    <div style="float: right"><span class="glyphicon glyphicon-star-empty"></span><img src="facebook.png" width="20px" height="20px"></div>
                </div>
                <br>
                <br>
                <!--                Details Page-->
                <div class="row" style="text-align: Left">
                    <div class="col-md-6">
                        <div class="well-sm " style="background-color: grey ">Albums</div>
                        <div id="noAlbumData" class="well-sm " style="border: 1px solid ">
                            <div class="well-sm" style="background-color: yellow ">
                                <p>No data posted</p>
                            </div>
                        </div>
                        <div id="AlbumData" class="well-sm " style="border: 1px solid" ng-repeat="x in albumDetails">
                            <a ng-click="albumClick(x.id)" class="well-sm">
                                {{x.albumName}}
                            </a>
                            <div id={{x.id}} style="display: none">
                                <div class="well-sm row">
                                    <div class="col-sm-12">
                                        <img ng-src="{{ x.imgSrc1 }}" style='width:100%; max-width:auto; height:auto;'>
                                    </div>
                                </div>
                                <div class="well-sm row">
                                    <div class="col-sm-12">
                                        <img ng-src="{{ x.imgSrc2 }}" style='width:100%; max-width:auto; height:auto;'>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="well-sm " style="background-color: grey ">Posts</div>

                        <div id="noPostData" class="well-sm" style="border: 1px solid;">
                            <div class="well-sm" style="background-color: yellow ">
                                <p> No data posted </p>
                            </div>
                        </div>

                        <div id="PostData" class="well-sm" style="border: 1px solid" ng-repeat="x in postDetails">
                            <div class="well-sm">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img ng-src="{{ x.image }}" width="30px" height="30px"></td>
                                        <td>
                                            <p style="padding-left: 10px; margin-bottom: 0px; font-size: smaller; font-weight: bold;">{{ x.name }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p style="padding-left: 10px; margin-bottom: 0px; font-size: x-small; color: lightslategrey;">{{ x.time }}</p>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <p>{{ x.post }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- formCtrl -->
    <!-- /container -->
</body>

</html>